<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="day-header">
        <h1 ><%= day%></h1>
    </div>
    
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        
        <ul>
            <% for(var i=0;i<tasks.length;++i){%>
                <div class="lists">
                    <input type="checkbox" class="task-done">
                    <li class="items"><%= tasks[i]%></li>
                </div>
                
            <%}%>
        </ul>
        <form class="new-task" action="/" method="post">
            <input class="input-tag" type="text" name='newItem' placeholder="New Task">
            <button type="submit" name='submit_button' class="add-button">+</button>
        </form>
    </div>
   
</body>
</html>