body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.task-done:checked+li{
    text-decoration: line-through;
    opacity: 50%;
    text-decoration-color:red;
}

.lists{
    display: flex;
    width: auto;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

ul{
    
    background-color: white;
    padding: 0;
    margin-bottom: 0;   
}
.items{
    list-style: none;
    
    font-size: 1.5rem;
    padding-left: 10px;
    color:  #AEC6CF;
    
}

.day-header{
    
    border-radius: 20%;
    
    height:auto;
    width: 33.33%;
    color: white;
    background-color: #cc99ff;
    text-align: center;
}

.new-task{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.input-tag{
    padding-top: 0;
    padding-bottom: 0;
    margin-top:0 ;
    margin-bottom: 0;
    width: 100%;
    border: none;
    background-color: white;
}


body{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    font-family: cursive;
    font-size: large;
}

.add-button{
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #cc99ff;
    border: 1px solid black;
    margin: 0;
}

::placeholder{
    color: grey;
    opacity: 80%;
    font-size: auto;
    text-align: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}